*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img{
    display: flex;
    width: 100vw;
    height: 100vh;
    
}

.clockbox{
    display: flex;
    position: absolute;
    top: 39%;
    width: 700px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.225);
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.words{
    position: absolute;
    top: 19%;
    width: 700px;
    height: 200px;
    border-radius: 15px;
}


#numbers{
    font-size: 80px;
}

.words{
    font-size: 19px;
    word-spacing: 20px;
    font-weight: bold;
    position: absolute;
    top: 72%;
    left: 26%;
}